.msg_hot {
  height: 93px;
  width: 90%;
  /*background-color: hotpink;*/
  border-top: 1px solid #dedede;
  padding-top: 15px;
  margin: 0 auto;
  padding-left: 10px;
}
.msg_hot .msg_right img {
  width: 102px;
  height: 76px;

}
.msg_hot .msg_right {
  display: inline-block;
  float: right;
}
.msg_hot .msg_left {
  display: inline-block;
  width: 64%;
}
.msg_hot .msg_left img {
  width: 7%;
  height: 3%;
  position: absolute;
  margin-left: -3%;
  margin-top: 2px;
}
.msg_hot .msg_left p {
  width: 80%;
  font-size: 14px;
  height: 48px;
  line-height: 24px;
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 5px;
  margin-left: 8%;
}
.msg_hot .msg_left span {
  font-size: 12px;
  color: #AAAAAA;
}
.msg_hot .msg_left .msg_left_time {
  margin-left: 8%;

}
